.custom-form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.form-title {
    text-align: center;
}

.submit-btn-container {
    text-align: center;
    margin-top: 20px;
}
