.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* antd override */
input {
  border: none !important; /* Remove the border */
  background-color: white; /* Set background color to white */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  border-radius: 15px !important;
  height: 40px !important;
}

/*
input:focus {
  outline: none !important;
  box-shadow: none !important;
}*/

label {
  font-size: 16 !important;
  color: black;
}
/*
.ant-from-item {
  margin: 0 !important;
}*/

/* common styling */
.card-topic {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
}

.primary-button {
  background-color: #1677ff !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 100% !important;
  font-size: 16px !important;
  color: #fff !important;
}

.anchor {
  color: black !important;
  text-align: underline;
  font-size: 13px !important;
}
 /*
.anchor:hover {
  text-decoration: underline !important;
}*/

/* spinner */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0);*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: white !important;
}


/* authentication pages */
.authentication {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #1AACAC;*/
}

.authentication-form {
  width: 395px;
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange;
  color:#fff !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -24.5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* login background */
.login-container {
  position: relative; 
}

.login-background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1; 
  overflow: hidden; 
}

.login-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* register background */
.register-container {
  position: relative; 
}

.register-background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1; 
  overflow: hidden; 
}

.register-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
