/*
input:focus {
  outline: none !important;
  box-shadow: none !important;
}*/

label {
  font-size: 16 !important;
  color: black;
}
/*
.ant-from-item {
  margin: 0 !important;
}*/

/* common styling */
.card-topic {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
}

.primary-button {
  background-color: #1677ff !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 100% !important;
  font-size: 16px !important;
  color: #fff !important;
}

/* notes button */
.create-note-button {
  background-color: #1677ff !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 15% !important;
  font-size: 16px !important;
  color: #fff !important;
}

.anchor {
  color: black !important;
  text-align: underline;
  font-size: 13px !important;
}
 /*
.anchor:hover {
  text-decoration: underline !important;
}*/

/* spinner */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0);*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: white !important;
}

/* login background */
.login-container {
  position: relative; 
}

.login-background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1; 
  overflow: hidden; 
}

.login-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* search */
.search-container input[type="text"] {
  width: 500px; 
  padding-left: 30px;
}

.register-button {
  background-color: #1677ff !important;
  font-weight: bold !important;
  height: 40px !important;
  width: 15% !important;
  font-size: 16px !important;
  color: #fff !important;
}






.search-user-container {
  position: relative;
}

.search-user-container input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.search-user-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-user-container input[type="text"]::placeholder {
  color: #aab7c4;
}

.search-user-container::before {
  content: '\f002'; /* Unicode for search icon (FontAwesome) */
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aab7c4;
}

